<div class="add_employee">
    <div class="boxes">
        <div class="col-md-5 left-content py-3 rounded-4 px-3">
            <form action="/api/employees" method="post" id="add_employee_form">
                <div class="employee_form_heading">
                    <label class="heading my-3">Add employee</label>
                    <button class="close_btn" onclick="close_btn()"><i class="fa-solid fa-xmark"></i></button>
                </div>

                <div class="row heading_img">
                    <div class="addImg_card" id="img-view">
                        <input type="file" id="input_file" accept="image/*" style="display: none;">
                        <div id="display_img" class="edit_emp_img">
                            <img src="" id="img_file" alt="" style=" display: none;">
                        </div>
                        <label id="add_emp_hide" for="input_file" style="cursor: pointer;">
                            <span class="material-symbols-outlined ">upload_file</span>
                            <h5>Upload Image</h5>
                            <p class=" mb-0">PNG, JPG files are allowed</p>
                        </label>
                    </div>
                    <span for="errormessage" class="errormessage" id="errormessageImg"></span>
                </div>

                <div class="row ">
                    <div class="input_box col-md-3 ">
                        <label for="Salutation" class="form-label mb- mt-3">Salutation</label>
                        <select class="form-group form-select rounded-4 py-2 me-2" id="salutation" required>
                            <option selected id="select">select</option>
                            <option>Mr</option>
                            <option>Miss</option>
                        </select>
                        <span for="errormessage" class="errormessage" id="errormessageSalutation"></span>
                    </div>
                    <div class="input_box col-md-4">
                        <label for="firstName" class="form-label mb-2 mt-3">First Name</label>
                        <input type="text" class="form-control py-2 rounded-4" name="firstname" id="firstname" placeholder="john"
                            aria-label="First name" required>
                        <span for="errormessage" class="errormessage" id="errormessagefirstname"></span>
                        
                    </div>
                    <div class="input_box col-md-5">
                        <label for="" class="form-label mb-2 mt-3">Last Name</label>
                        <input type="text" class="form-control py-2 rounded-4" name="lastname" id="lastname" placeholder="doe"
                            aria-label="Last name" required>
                        <span for="errormessage" class="errormessage" id="errormessagelastname"></span>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label mt-2">Email Address</label>
                        <input type="email" class="form-group form-control py-2 rounded-4" name="emailAddress" id="emailAddress"
                            placeholder="mail@simmmple.com" required>
                        <span for="errormessage" class="errormessage" id="errormessageEmail"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="Mobile Number" class="form-label mt-2">Mobile Number</label>
                        <input type="tel" class="form-group form-control py-2 rounded-4" name="mobilenumber" id="mobilenumber"
                            placeholder="enter mobile number" required>
                        <span for="errormessage" class="errormessage" id="errormessagePhone"></span>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6">
                        <label for="Date of Birth" class="form-label mt-2">Date of Birth</label>
                        <input type="date" class="form-control py-2 rounded-4" id="DOB" name="DOB"
                            placeholder="select date of birth" required>
                        <span for="errormessage" class="errormessage" id="errormessageDob"></span>
                    </div>
                    <div class="col-md-6 ">
                        <label for="Gender" class="form-label mt-2">Gender</label>
                        <div class="radio_section mt-2">
                            <div class="form-check_form form-check-inline">
                                <input class="form-check-input_" id="male" type="radio" name="gender" value="male"
                                    required>
                                <label class="form-check-label" for="inlineRadio">Male</label>
                            </div>
                            <div class="form-check_form form-check-inline ">
                                <input class="form-check-input_" id="female" type="radio" name="gender"
                                    value="female" required>
                                <label class="form-check-label" for="inlineRadio">female</label>
                            </div>
                        </div>
                        <span for="errormessage" class="errormessage" id="errormessageGender"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="qualifications" class="form-label form mt-2">Qualifications</label>
                        <input type="text" class="form-control py-2 rounded-4" id="qualifications" name="qualifications"
                            placeholder="enter qualifications" required>
                        <span for="errormessage" class="errormessage" id="errormessageQualifications"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label mt-2">Address</label>
                        <input type="text" class="form-control py-2 rounded-4" id="address" name="address"
                            placeholder="enter address" required>
                        <span for="errormessage" class="errormessage" id="errormessageAddress"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="Country" class="form-label mt-2">Country</label>
                        <select class="form-group form-select py-2 rounded-4" id="country" name="country" required>
                            <option selected>select country</option>
                            <option>India</option>
                            <option>Usa</option>
                            <option>Etc...</option>
                        </select>
                        <span for="errormessage" class="errormessage" id="errormessageCountry"></span>
                    </div>

                    <div class="col-md-6">
                        <label for="State" class="form-label mt-2">State</label>
                        <select class="form-group form-select py-2 rounded-4" id="state" name="state"
                            aria-label="Default select example" required>
                            <option selected>select State</option>
                            <option>Kerala</option>
                            <option>Tamilnadu</option>
                            <option>Etc...</option>
                        </select>
                        <span for="errormessage" class="errormessage" id="errormessageState"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="city" class="form-label mt-2">City</label>
                        <input type="text" class="form-control py-2 rounded-4" id="city" name="city" placeholder="enter city"
                            aria-label="State" required>
                        <span for="errormessage" class="errormessage" id="errormessageCity"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="pin" class="form-label mt-2">Pin/Zip</label>
                        <input type="text" class="form-control py-2 rounded-4" id="pinzip" name="pinzip" placeholder="enter zip/pin"
                            aria-label="Zip" required>
                        <span for="errormessage" class="errormessage" id="errormessagePin"></span>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="enter your username">
                            <span for="errormessage" class="errormessage" id="errormessageUsrname"></span>
                        </div>
                        <div class=" col-md-6 mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="enter your password">
                            <span for="errormessage" class="errormessage" id="errormessagePass"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-end gap-3 my-2 pt-4 pb-1 rounded-4">
                    <button type="button" class="btn btn-light rounded-4" onclick="close_btn()">Cancel</button>
                    <button type="submit" class="btn btn-primary left rounded-4" id="submit_data">Add
                        Employee</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="overlay"></div>