<div class="employee_added_pop" id="employee_add">
    <div class="contanier">
        <div id="employeePopup" class="popup">
            <div class="popup_content">
                <h2>Employee Added</h2>
                <h6>Employee has been successfully added!</h6>
                <button class="close_ok_btn" onclick="closePopup()">Okay</button>
            </div>
        </div>
    </div>
</div>
