<div class="side_menu">
    <div class="mini_box">
        <h2>Employee</h2>
        <h3>Management</h3>
    </div>
    <div class="mini_box list">
        <ul>
            <li>
                <div class="line"></div><a href="#"><i class="fa-solid fa-house"></i>Dashboard</a>
            </li>
            <li>
                <div class="line"></div><a href="#"><i class="fa-solid fa-chart-simple"></i>Employees</a>
            </li>
            <li>
                <div class="line"></div><a href="#"><i class="fa-solid fa-user"></i>My Profile</a>
            </li>
            <li>
                <div class="line"></div><a href="#"><i class="fa-solid fa-lock"></i>Logout</a>
            </li>
        </ul>
    </div>
    <div class="mini_box footer">
        <p>Powered by</p>
        <div class="side_menu_img">
            <img src="img/image1.png" alt="">
        </div>
    </div>
</div>